Package: com.ipadkid.ftt
Name: Flex To Theos
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Turn Flex 3 patches into Theos projects
Homepage: https://github.com/ipadkid358/FlexToTheos
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Utilities
Version: 0.0.5
